﻿extends layout

block content
  div.jumbotron.col-lg-8.center
                    h1.page-header License Management 
                        small Log In
                    form(method='post',role="form")
                        div.form-group
                            label(for="username") Username
                            input.form-control(type="text" name="name",id="name")
                        div.form-group
                            label(for="password") Password
                            input.form-control(type="password" name="password",id="password")
                        div.form-group
                            input.btn.btn-default(type="submit",value="Log In")
                        if login==-1
                            div.alert.alert-danger
                                strong Error: 
                                p 
                                   small Login Failed