﻿doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/plugins/morris.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
  body
    block content