﻿   <form name='saveForm' ng-submit="save()">
    <div class="modal-header">
        <h3 class="modal-title">Add new license</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <div class="input-group large">
                <label>Email *</label>
                <input type="email" placeholder="Email" class="form-control" ng-model="email" name='email' required />
                <div ng-messages="saveForm.email.$error" class="alert-danger">
                    <div ng-message="required">This field is required</div>
                    <div ng-message="email">This needs to be a valid email</div>
                </div>
            </div>

            <div class="input-group large">
                <label>Origin </label>
                <input type="text" placeholder="Origin" class="form-control" ng-model="origin" name="origin" />
            </div>

            <div class="input-group large" style="margin-bottom:5px;">
                <label>Expired Date *</label>
                <input type="text" name="expire" placeholder="Expired Date" uib-datepicker-popup="{{format}}" class="form-control" is-open="calendar" close-text="Close" ng-model="expired" required />
                <span class="input-group-btn" style="padding-top:35px;">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span><br />

            </div>
            <div class="input-group large">
                <div ng-messages="saveForm.expire.$error" class="alert-danger large">
                    <div ng-message="required" ng-show="email!=null">This field is required</div>
                </div>
            </div>


            <div class="input-group large">
                <label>Multiplier *</label>
                <input type="number" name="multiplier" placeholder="Multiplier" class="form-control" ng-model="multiplier" min='1' required />
                <div ng-messages="saveForm.multiplier.$error" class="alert-danger">
                    <div ng-message="required" ng-show="email!=null">This field is required</div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Save" >
        <input type="reset" class="btn btn-warning" value="Reset"/> 
        <!--<input type="button" class="btn btn-warning" ng-click="cancel()" ng-show="closed" value="Return"/>-->
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        

    </div>
</form>
