﻿<nav role="navigation" class="navbar navbar-inverse set-radius-zero">
    <div class="container">
         <div class="navbar-header">
             <div class="col-lg-4" style='margin:0;padding:0;'>
             <div class="input-group"> 
                <input type="text" ng-model="query.keyword" class="form-control small" placeholder="Search" ng-keyup="$event.keyCode== 13 && searchKeyword()">
                 <span class="input-group-btn">
                     <button ng-click="searchKeyword()" class="btn btn-default"><i class="icon-white icon-plus"></i>Search</button>
                 </span>
            </div>
            </div>
              <a href="#" class="btn btn-danger pull-right" ng-click="logout()">Logout</a>
             
            <button ng-click="deleteLicenses()" class="btn btn-warning pull-right" type="button"><i class="icon-white icon-plus"></i> Remove selected licenses</button>
               <button ng-click="addLisenses()" class="btn btn-primary pull-right" type="button"><i class="icon-white icon-plus"></i> Add new license</button>
            </div>
           
    </div>
    
</nav>
<div class="content-wrapper">
    <div class="container">
         
         <div class="row">
             <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="10000">{{alert.msg}}</uib-alert>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table ng-table="tableParams" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>    
                        <th style="width:30%;">
                            <a ng-click="sortedbyChanged('key')" eatclick>
                                Key
                                <span ng-show="query.sortedby=='key' && query.dir=='ASC'" class="fa fa-caret-down"></span>
                                <span ng-show="query.sortedby=='key' && query.dir=='DESC'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="sortedbyChanged('email')" eatclick>
                                Email
                                <span ng-show="query.sortedby=='email' && query.dir=='ASC'" class="fa fa-caret-down"></span>
                                <span ng-show="query.sortedby=='email' && query.dir=='DESC'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="sortedbyChanged('origin')" eatclick>
                                Origin
                                <span ng-show="query.sortedby=='origin' && query.dir=='ASC'" class="fa fa-caret-down"></span>
                                <span ng-show="query.sortedby=='origin' && query.dir=='DESC'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="sortedbyChanged('digest')" eatclick>
                                Active
                                <span ng-show="query.sortedby=='digest' && query.dir=='ASC'" class="fa fa-caret-down"></span>
                                <span ng-show="query.sortedby=='digest' && query.dir=='DESC'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="sortedbyChanged('issued')" eatclick>
                                Issued
                                <span ng-show="query.sortedby=='issued' && query.dir=='ASC'" class="fa fa-caret-down"></span>
                                <span ng-show="query.sortedby=='issued' && query.dir=='DESC'" class="fa fa-caret-up"></span>
                            </a>
                            
                        </th>
                        <th>
                            
                           <a ng-click="sortedbyChanged('expire')" eatclick>
                                Expire
                                <span ng-show="query.sortedby=='expire' && query.dir=='ASC'" class="fa fa-caret-down"></span>
                                <span ng-show="query.sortedby=='expire' && query.dir=='DESC'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style='width:5%'>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="license in licenses">
                        <td data-title="'Key'">
                            <span data-ng-bind-html="license.key | highlight:keyword"></span>
                        </td>
                        <td data-title="'Text'">
                            <span data-ng-bind-html="license.email | highlight:keyword"></span>
                        </td>
                        <td data-title="'Text'">
                            <span data-ng-bind-html="license.origin | truncate: 30 | highlight:keyword" uib-popover="{{license.origin}}" popover-trigger="mouseenter"></span>
                           
                        </td>
                        <td data-title="'Text'">
                            <span>{{license.digest!=null ? 'Yes':'No'}}</span>

                        </td>
                        <td data-title="'Text'">
                            <span data-ng-bind-html="license.issued | dateOnly"></span>

                        </td>
                        <td data-title="'Text'"> 
                            <span data-ng-bind-html="license.expire | dateOnly"></span>
                        </td>
                        <td data-title="'Actions'" width="200">
                            <input id="{{license.id}}" type="checkbox" value="{{license.id}}" ng-checked="selection.indexOf(employee.name) > -1" ng-click="toggleSelection(license.id)" />
                            
                        </td>
                    </tr>
                </tbody>
            </table>

            <uib-pagination total-items="query.total" ng-model="query.page" ng-change="pageChanged()" items-per-page="{{query.limit}}"></uib-pagination>
        </div>

    </div>
    </div>
    
   
</div>

