﻿ <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="jumbotron col-md-8 center">
    <h1 class="page-header"><small>Log In</small></h1>
    <form name='loginForm' ng-submit="login()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" ng-model="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="password" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Log In" class="btn btn-default">
        </div>
        <p ng-show="loginForm.username.$error.required" class="alert-danger">Your username is required.</p>
        <p ng-show="loginForm.password.$error.required" class="alert-danger">Password is required.</p>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
         
    </form>
</div>
            </div>

            </div>
</div>